[build]
target = "{{ rust_target }}"

[target.{{ rust_target }}]
linker = "ldproxy"
# runner = "espflash --monitor" # Select this runner for espflash v1.x.x
runner = "espflash flash --monitor" # Select this runner for espflash v2.x.x
{% if espidfver != "v4.4" -%}
rustflags = [ "--cfg",  "espidf_time64"] # Extending time_t for ESP IDF 5: https://github.com/esp-rs/rust/issues/110
{%- elsif espidfver == "v4.4" and arch == "riscv" -%}
rustflags = ["-C", "default-linker-libraries"]
{%- endif %}

[unstable]
{% if std -%}
build-std = ["std", "panic_abort"]
{%- else -%}
build-std = ["core", "alloc", "panic_abort"]
{%- endif %}

[env]
MCU="{{ mcu }}"
# Note: this variable is not used by the pio builder (`cargo build --features pio`)
{%- if espidfver == "v4.4" %}
ESP_IDF_VERSION = "v4.4.7"
{% elsif espidfver == "v5.2" %}
ESP_IDF_VERSION = "v5.2.1"
{% elsif espidfver == "master" %}
ESP_IDF_VERSION = "master"
{% endif %}
# Workaround for https://github.com/esp-rs/esp-idf-template/issues/174 until
# https://github.com/esp-rs/esp-idf-hal/pull/387 gets released and the template
# updated.
CRATE_CC_NO_DEFAULTS = "1"
